.main-content {
    flex: 1;
    padding: 20px;
    background-color:#f0eded;
  }
  
  .tabs {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color:white;
  }
  
  .tabs button {
    width:200px;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f4f4;
    border: none;
  }
  
  .tabs button.active {
    background-color: #0B69FF;
    color: white;
  }
  